<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .div1{ width: 100%; height: 150px;}
        .navbar{ width: 1445px; height: 50px; margin-left: -200px}
        .navbar ul{ margin-left: 200px}
        .navbar button{ margin-left: 550px}
        .div2{ margin-top: -22px}
        .panel-heading{ background: #a4998c}
        .panel-title{ margin-left: 210px}
        .panel-title span{ color: #ffffff}
        .panel-body{ background: #8d8070}
        .panel-body h1{ margin-left: 380px; font-size: 50px; color: #ffffff}
        .panel-body p{ margin-left: 380px; font-size: 25px; color: #ffffff}

        .sg{ margin-left: 300px}
        .sg img{ margin-bottom: 50px}
        .sg p:hover{ color: black}
        .sg p{ display: inline-block; color:#8d8070;font-size: 25px; margin-left: 40px;position: relative;top: -70px}
        .im a{ color: #c2b7a3; font-size: 20px; margin-left: 290px}
        .div3{ width: 100%; height: 400px; background: #1f1e1d; margin-top: 50px}
        .div3 li{ list-style: none; color: white}
        .div4 p{ color: white}


    </style>
    <link rel="stylesheet" th:href="@{/static/dist/css/bootstrap.css}">
    <script th:src="@{/static/dist/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/static/dist/js/bootstrap.js}"></script>


</head>
<body>
<div class="container">
    <div class="div1">
    <img src="/static/img/1545045226.jpg" height="150" width="300"/>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">中文   |</a></li>
            <li><a href="#">English    |</a></li>
            <li><a href="#">Français    |</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他语言<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
</div>
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">组织介绍</a></li>
                    <li><a href="#" active>工作内容</a></li>
                    <li><a href="#">工作地区</a></li>
                    <li><a href="#">战争与法律</a></li>
                    <li><a href="#">支持法律</a></li>
                    <button type="button" class="btn btn-danger dropdown-toggle" style="height: 48px; width: 70px"><a href="捐款/www.icrc.org/zh/donate.html" style="color: #fff;">捐款</a></button>

                </ul>

            </div>
        </div>
    </nav>


    </div>
<div class="div2">

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span><a th:href="@{/index}" style="color: #fff;">首页</a>&nbsp;></span>&nbsp;工作内容
            </h3>
        </div>
        <div class="panel-body">
            <h1>工作内容</h1>
            <p>红十字国际委员会致力于迅速有效地应对武装冲突或在冲突地区爆发<br>
                的自然灾害所带来的人道需求。敌对行动会在毫无预警的情况下爆<br>
                发；自然灾害会在毫无准备时来袭，如果这发生在本已饱受战火影响<br>
                的国家，其影响力会加倍。面对这类不可预知的紧急事件，红十字国<br>
                际委员会非常重视培养在一线迅速部署的能力。
            </p>
        </div>
    </div>
    <div>
        <img src="/static/img/1545049741.jpg" height="175" width="1350"/>
    </div>
    <div class="row">
        <div class="sg">
        <div class="col-md-6">
         <img src="/static/img/disability-square.jpg" height="170" width="170" class="img-circle image-responsive"/><p>帮助残疾人士</p><br>
            <img src="/static/img/3.jpg" height="170" width="170"class="img-circle image-responsive"/><p>保护平民</p><br>
            <img src="/static/img/4.jpg" height="170" width="170" class="img-circle image-responsive"/><p>促进遵守法律</p><br>
            <img src="/static/img/8.jpg" height="170" width="170" class="img-circle image-responsive"/><p>法医学与人道行动</p><br>
            <img src="/static/img/9.jpg" height="170" width="170" class="img-circle image-responsive"/><p>反地雷行动</p><br>
            <img src="/static/img/11.jpg" height="170" width="170" class="img-circle image-responsive"/><p>供水与住所</p><br>
            <img src="/static/img/12.jpg" height="170" width="170" class="img-circle image-responsive"/><p>经济安全</p><br>

        </div>


        <div class="col-md-6">
            <img src="/static/img/5.jpg" height="170" width="170" class="img-circle image-responsive"/><p>医疗卫生</p><br>
            <img src="/static/img/6.jpg" height="170" width="170" class="img-circle image-responsive"/><p>应对性暴力</p><br>
            <img src="/static/img/civilians-v-p-sy-e-00297h.jpg" height="170" width="170" class="img-circle image-responsive"/><p>与各国红会合作</p><br>
            <img src="/static/img/weapons-mines_0.jpg" height="170" width="170" class="img-circle image-responsive"/><p>人与商业社会合作</p><br>
            <img src="/static/img/8.jpg" height="170" width="170" class="img-circle image-responsive"/><p>援救被拘留者</p><br>
            <img src="/static/img/9.jpg" height="170" width="170" class="img-circle image-responsive"/><p>重建家庭联系</p><br>
            <img src="/static/img/13.jpg" height="170" width="170" class="img-circle image-responsive"/><p>人道外交</p><br>
            </div>
        </div>
    </div>

<div class="im">
    <img src="/static/img/666.jpg" height="80" width="1340"/>
    <a href="#">>移民、难民和寻求避难者
</a>
</div>

</div>

<div class="div3">
    <ul style="display: inline-block; width: 350px ; position: relative;top: -70px; margin-left: 150px" >
        <li style="color: #ffffff; font-size: 20px;">红十字国际委员会的工作</li>
        <div style="border: 0.5px solid red; width: 80px"></div>
        <li style="color:#cfcfcf; margin-top: 15px">红十字国际委员会帮助受武装冲突影响的人群，并促进对国际人道法的遵守。进一步了解我们的工作内容和组织介绍。</li>
    </ul>
    <ul style="display: inline-block; width: 350px ; margin-top: 40px; margin-left: 25px" >
        <li style="color: white;font-weight: bold;font-size: 20px;">栏目</li>
        <div style="border: 0.5px solid red; width: 80px"></div>
        <li style="margin-top: 15px">组织介绍</li>
        <li style="margin-top: 8px">工作内容</li>
        <li style="margin-top: 8px">工作地区</li>
        <li style="margin-top: 8px">战争与法律</li>
        <li style="margin-top: 8px">支持我们</li>
    </ul>
    <ul style="display: inline-block; width: 350px ; margin-left:-150px;position: relative;top:-30px" >
        <li style="color: white;font-weight: bold;font-size: 20px;">快速链接</li>
        <div style="border: 0.5px solid red; width: 80px"></div>
        <li style="margin-top: 15px">主页</li>
        <li style="margin-top: 8px">最新内容</li>
        <li style="margin-top: 8px">为红十字国际委员会工作</li>
        <li style="margin-top: 8px">红十字国际委员会联络方式</li>

    </ul>
    <p style="margin-left: 500px;margin-top:70px;color: #b0b0b0;">@版权归软件五班三组冯金超所有</p>

    </div>



</body>
</html>